@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, monospace;
}

nav {
    background-image: linear-gradient(#ebebeb, #c4c4c4);
    width: 100%;
    float: left;
    position: fixed;
    z-index: 100;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}

nav img {
    margin-top: 15px;
    width: 300px;
}

nav h1 {
    float: left;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    list-style: none;
    padding-right: 20px;
    padding: 45px 15px;
    float: left;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #818181c7;
    color: #000000;
    padding: 10px 30px;
    /* border: 2px solid transparent; */
    transition: 0.4s;
}

ul li a:hover {
    background-color: #000000;
    color: #818181c7;
    /* border: 2px solid ; */
}

header {
    background-color: #222;
    padding-top: 140px;
}

header img {
    width: 100%;
    border: 4px solid #000000;
    object-fit: cover;
    /* object-position: center; */
    height: 350px;

}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

/* Grade de colunas */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 32.98%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

img {
    width: 100%;
}

main {
    margin: auto;
    width: 1150px;
    background-image: linear-gradient(#c4c4c4, #ebebeb, #fdfdfd);
    /* border-top: 3px solid #222; */
    /* border-bottom: 3px solid #222; */
    /* border: 3px solid #222; */
}

.historia img {
    height: 400px;
    margin-top: 10px;
    border: 3px solid #222;
}

main h1 {
    color: #EB2030;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

main h2 {
    color: #EB2030;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

main p {
    text-align: left;
    font-size: larger;
    padding: 8px;
}

.genius {
    background-image: url(/img/2003-genius-revolutionary.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid #222;
}

.e-bike {
    background-image: url(/img/e-bike.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: right;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid #222;
}

.baner {
    margin-top: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px dashed #000000;
}

.produtos {
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #818181;
    padding: 5px;
    margin: 10px;
}

.produtos li {
    text-align: center;
    list-style: none;
    padding: 9px 10px;
    font-size: large;
    transition: 0.4s;
    border-radius: 3px;
}

.produtos li:hover {
    color: #818181c7;
    background-color: #000000;
}

.produtos a {
    text-decoration: none;
    color: #000000;
}

.produtos hr {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px double;
}

.produtos h1 {
    color: #000000;
}

.modelos .col-4 {
    float: left;
    background-color: #222;
    padding: 4px;
    margin: 2px;
}

.modelos img {
    height: 280px;
}

.modelos ul {
    list-style: none;
    font-size: medium;
    padding: 5px;
    color: #D9D9D9;
}

.modelos h2 {
    color: #D9D9D9;
    text-align: center;
    margin-bottom: 0px;
}

.center {
    text-align: center;
}

/* scott spark */

.spark img {
    height: 280px;
    margin: 5px;
    border: 2px solid #000000;

    /* background-image: url(/img/Scott_spark_2022_azul.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    margin-top: 20px;
    */
}

.spark hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

.componetes_spark table {
    margin: 5px;
    border-collapse: collapse;
    border: 2px solid #000000;
}

.componetes_spark td {
    padding: 3px;
    border: 2px solid #000000;
}

/* scott spark */

/*capacete*/
.capacete img {
    border: 2px solid #000000;
    height: 280px;
    margin: 5px;

    /* background-image: url(/img/produtos/capacete.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    margin-top: 20px;*/
}

/*capacete */

/*calçado */
.calçado img {
    height: 350px;
    margin: 5px;
    border: 2px solid #000000;

    /* background-image: url(/img/produtos/SAPATOS-SCOTT-MTB.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 20px;
     */
}

/*calçado */

/*camisa*/
.camisa img {
    height: 350px;
    margin: 5px;
    border: 2px solid #000000;

    /* background-image: url(/img/produtos/camisa.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    margin-top: 20px;
     */
}

/*camisa*/

/*scale*/
.scale img {
    margin: 5px;
    border: 2px solid #000000;
    height: 350px;

    /* background-image: url(/img/scott_scale.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 20px; */
}

.scale_lista {
    margin: 20px;
}

.scale_lista h2 {
    text-align: left;
}

/*scale*/

/*strada*/
.estrada img {
    margin: 5px;
    border: 2px solid #000000;
    height: 300px;

    /* background-image: url(/img/scott_esrada.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 20px;
     */
}

.estrada_lista {
    margin: 20px;
}

/*strada*/

footer {
    background-color: #222;
    color: white;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer ul li {
    list-style: none;
}

a {
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 4px;
    border: 2px solid #222;
    border-radius: 4px;
    margin: 4px 0;
    outline: none;
    resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: #ebebeb;
}